@use '../../styles/variables.scss' as *;

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    height: 100vh;
    background-image: url('../../assets/images/home-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .home-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 2rem;
        width: 100%;
        max-width: 900px;
        border-radius: 1rem;
        background-color: rgba(214, 214, 214, 0.308);
        backdrop-filter: blur(5px);
        margin-bottom: 2rem;

        img {
            width: auto;
            height: 50px;
        }
    }

    .home-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $text-color-white;
        font-size: 1.5rem;
        margin-bottom: 3rem;
        text-align: center;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
        }
    }

    @media (max-width: 768px) {
        .home-header {
            padding: 0.5rem 1rem;

            img {
                height: 40px;
            }
        }

        .home-main {
            font-size: 1.25rem;

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .cl-sign-in,
        .cl-sign-up {
            max-width: 320px;
        }
    }

    @media (max-width: 480px) {
        .home-header {
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;

            img {
                height: 35px;
            }
        }

        .home-main {
            font-size: 1rem;

            h2 {
                font-size: 1.2rem;
            }

            p {
                font-size: 0.8rem;
            }
        }

        .cl-sign-in,
        .cl-sign-up {
            max-width: 280px;
        }
    }
}