$talentcontrolhr-50: #f9f7fd;
$talentcontrolhr-100: #f1eef9;
$talentcontrolhr-200: #e5dff5;
$talentcontrolhr-300: #d1c6ec;
$talentcontrolhr-400: #b4a1df;
$talentcontrolhr-500: #977cd0;
$talentcontrolhr-600: #8060bd;
$talentcontrolhr-700: #684aa0;
$talentcontrolhr-800: #5b4287;
$talentcontrolhr-900: #4b366d;
$talentcontrolhr-950: #2f1e4d;

$background-color: #f7f7f7;
$text-color-dark: #333333;
$text-color-black: #000000;
$text-color-light: #666666;
$text-color-white: #ffffff;

$border-radius: 8px;
$spacing: 8px;