@use './variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::selection {
        background-color: $talentcontrolhr-300;
    }

    scrollbar-width: thin;
    scrollbar-color: $talentcontrolhr-400 $background-color;

    &::-webkit-scrollbar {
        width: 0.7rem;
        height: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $talentcontrolhr-300;
        border-radius: 15px;
        border: 2px solid $background-color;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $talentcontrolhr-400;
    }
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: $background-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    color: $text-color-dark;

    .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        img {
            width: 150px;
            animation: scale 1s infinite;
        }

        @keyframes scale {

            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }
        }
    }
}