@use '../../../styles/variables' as *;

.dashboard-content {
    padding: 2rem;
    height: calc(100vh - 2rem);
    overflow-y: auto;
    border-radius: 1rem;
    margin: 1rem;
    background-color: $background-white;
}