:root {
    --primary-color: #1a73e8;
    --secondary-color: #4285f4;
    --background-color: #f7f7f7;
    --text-color-white: #ffffff;
    --text-color-dark: #202124;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}